.box {
    border: 50px solid #669966;
    width: 200px;
    padding: 50px;
    margin-bottom: 20px
}
  
.red {
    border-color: #c0392b;
}
  
.blue {
    border-color: #2c3e50;
    margin-top: 20px;
}
  
.img-size {
    width: 200px;
    /*height: 100px;*/
}
  
.margin-space {
    margin-top: 20px;
}
  
.padding-space {
    padding: 50px;
    /*padding-top: 50px;*/
    /*padding-left: 50px;*/
}
  
.visibility-box {
    visibility: hidden;
}
  
.display-box {
    display:none;
}
  
h1 {
    color: #9b59b6;
}
  
p {
    font-size: 16px;
    font-family: Verdana;
    font-style: italic;
}
  
.sub-header{
    color: #2980b9;
}
  
p::first-letter {
    font-size: 200%;
    color: #2980b9;
}
  
h1::before {
    content: "Topic:";
}
  
.challenge2 {
    border: 2px solid black;
    background-color: #fff;
    background-image:
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(
    #eee .1em, transparent .1em);
    background-size: 100% 1.2em;
  
    padding-left: 10%
}
  
h1:first-child {
    text-align: center;
}
  